In [2]:
import pandas as pd

In [21]:
df=pd.read_csv('data/yellow_tripdata_2021-01.csv',nrows=100)

In [19]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [23]:
df_iter = pd.read_csv('data/yellow_tripdata_2021-01.csv',iterator=True, chunksize=100000)

In [24]:
df=next(df_iter)

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [29]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [37]:
engine.connect()
query = """
SELECT count(*) from yellow_taxi_data;
"""

pd.read_sql(query, con=engine)

     count
0  1369765

In [33]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.69 s, sys: 143 ms, total: 3.84 s
Wall time: 6.11 s

1000

In [35]:
from time import time

In [36]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 6.142 second
inserted another chunk, took 5.635 second
inserted another chunk, took 6.163 second
inserted another chunk, took 6.189 second
inserted another chunk, took 5.885 second
inserted another chunk, took 6.236 second
inserted another chunk, took 6.164 second
inserted another chunk, took 6.041 second
inserted another chunk, took 6.188 second
inserted another chunk, took 5.814 second
inserted another chunk, took 6.101 second

/var/folders/21/q2qrwgwn6_b0y5b6dq4zfrvm0000gn/T/ipykernel_82877/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 5.774 second
inserted another chunk, took 3.931 second

StopIteration:

In [3]:
df_zone=pd.read_csv('data/taxi_zone_lookup.csv')

In [15]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [8]:
print(pd.io.sql.get_schema(df_zone, name='zone', con=engine))

CREATE TABLE zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [9]:
df_zone.to_sql(name='zone', con=engine, if_exists='replace')

265