# Postgres Data ingestion

## Ingest green taxi trip data

In [2]:
import pandas as pd

In [25]:
df_it=pd.read_csv('dataset/green_tripdata_2019-10.csv.gz',iterator=True, chunksize=100000)

In [26]:
df=next(df_it)

In [27]:
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [29]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [30]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [31]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [32]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [33]:
from  time import time

In [34]:
while True: 
        try:
            t_start = time()
            
            df = next(df_it)

            df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
            df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

            df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

            t_end = time()

            print('inserted another chunk, took %.3f second' % (t_end - t_start))

        except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

inserted another chunk, took 15.116 second
inserted another chunk, took 14.396 second

/tmp/ipykernel_139263/844476135.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_it)

inserted another chunk, took 15.683 second
inserted another chunk, took 9.504 second
Finished ingesting data into the postgres database

## Ingest taxi zone data

In [35]:
df=pd.read_csv('dataset/taxi_zone_lookup.csv')

In [36]:
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [37]:
df.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

0

In [38]:
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

265